.matrix-background {
    position: fixed;
    width: 100%;
    height: 100svh;
    z-index: -1;
    background-color: black;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    user-select: none;
}

.matrix-background-column {
    display: grid;
    grid-auto-rows: 1fr;
}

.matrix-background-cell {
    text-align: center;
    color: transparent;
}

@keyframes char-animation {
    0% {
        opacity: 1;
        color: #f5ffeabb;
    }
    30% {
        color: #40c900bb;
    }
    100% {
        opacity: 0;
    }
}